* {
  margin: 0;
  padding: 0;
  color: #343a40;
}

.container {
  width: 700px;
  margin: 0 auto;
}

header h1 {
  font-size: 24px;
  margin: 30px 0;
}

header p {
  font-size: 16px;
}

.vending-machine {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: #acb2b493;
  border-radius: 12px;
  font-size: 10px;
  height: 800px;
}

.front {
  display: grid;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  width: 350px;
  padding: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.185);
  padding: 20px;
  color: aliceblue;
  overflow: hidden;
}

.text--background {
  background-color: aliceblue;
  border-radius: 12px;
  height: 50px;
  width: 60px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: bold;
}

.hole {
  background-color: rgba(0, 0, 0, 0.616);
  margin-top: 30px;
  grid-column: 1/-1;
  height: 50px;
  border-radius: 12px;
}

.controller {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px;
  margin: 80px 50px 0 0px;
  justify-self: end;
  gap: 5px;
}

.numbers,
.del {
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}

.display {
  grid-column: 1/4;
  text-align: end;
  border-radius: 8px;
  font-weight: bold;
  padding-right: 10px;
  font-size: 16px;
  color: green;
}

.del {
  grid-column: 2/4;
}

.pocket {
  width: 130px;
  height: 130px;
  margin-top: 20px;
  display: grid;
  gap: 5px;
  margin-left: -10px;
  padding: 10px;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 20px 40px 40px;
  border: 2px solid black;
  background-color: rgba(165, 112, 42, 0.342);
}

.coin {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 100px;
  background-color: rgba(255, 230, 0, 0.842);
  color: black;
}

.pocket p {
  grid-column: 1/4;
  font-size: 14px;
}

.user--money--feedback {
  display: flex;
  flex-direction: column;
}

.received--things {
  margin-left: -60px;
  margin-top: 30px;
  width: 230px;
  height: 130px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.received--things p {
  margin-bottom: 40px;
}

.received--things label {
  line-height: 1.5;
}

.received--things label:nth-of-type(even) {
  margin-bottom: 20px;
}
